body{
background-color: rgb(175, 216, 252);

}
header{
    display: flex;
    justify-content: center;
    
}
h1{
    display: flex;
}

.tituloPrincipal{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(30, 108, 224);
    font-size: 5rem;
    margin: 1rem;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.ladoEsquerdo{
    display: inline-block;
    width: 69%;
    

}
.ladoDireito{
    display: inline-block;
    width: 29%;
    
}

.tituloSecundario{
    text-align: center;
    display:block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin: 1%;
}

.caixaEntrada{
    display: block;
    border-radius: 2rem;
    padding: 1rem;
    width: 90%;
    margin: 1%;
    font-size: 1.5rem;
    border: solid,5px,;
}

.caixaEntrada:hover,:focus{
    transition: 1500ms;
    background-color: rgba(255, 255, 255, 0.651);
}

.caixaSaida{
    display: block;
    border-radius: 2rem;
    padding: 1rem;
    width: 90%;
    margin: 1%;
    font-size: 1.5rem;
}

.caixaSaida:hover,:focus{
    transition: 1500ms;
    background-color: rgba(255, 255, 255, 0.651);
}


.btn{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 1rem;
    
}
.btn:hover{
    background-color: aqua;
    transition: 700ms;
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .ladoDireito, .ladoEsquerdo{
        width: 100%;
    }
    .caixaEntrada, .caixaSaida {
        width: 90%;
    }
    .tituloPrincipal{
        font-size: 2rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }


}